body {
  background-color: rgb(25, 25, 25);
  color: white;
}

a:link,
a:visited {
  color: rgb(255, 255, 255);
  margin: 10px;
  font-size: 1.2rem;
  text-decoration: none;
}

.sortButtons {
  margin: 30px;
}
