.movieCard {
  position: relative;
  width: 290px;
  height: 450px;
  background: #000000;
  box-shadow: 10px 20px 20px #060606;
  margin: 2rem;
}

.movieCard:hover {
  background: #e0e0e0;
  box-shadow: 10px 10px 30px #7bccffb5;
  margin: 2rem;
}

.movie-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.txtf700 {
  position: relative;
  bottom: 440px;
  text-align: center;
  z-index: 3;
  color: white;
  font-size: 1.2rem;
}

.movie-detail-container {
  position: absolute;
  width: 80%;
  bottom: -5px;
  z-index: 3;
  color: white;
  background: rgba(0, 0, 0, 0.38);
  backdrop-filter: blur(10px);
  object-fit: contain;
}
.movie-container {
  display: flex;
  flex-wrap: wrap;
}

.txtfsl {
  padding: 5px;
}
